DEBUG=value # (also affects database: if true - sqlite, false - postgresql)
SECRET_KEY=value
ALLOWED_HOSTS=value,value,value
POSTGRES_USER=value
POSTGRES_PASSWORD=value
POSTGRES_DB=value
DB_HOST=value
DB_PORT=value